<h1>Friends Index</h1>
<ul>
{{#if model.length}}
  Total amount of friends: {{model.length}}
{{else}}
  There is no foriends at all.
{{/if}}
<hr>
  {{#each model as |friend|}}
    <li>
      {{#link-to 'friends.show' friend}}
    </li>
  {{/each}}
</ul>