{{#if model.length}}
  <table class="primary">
    <thead>
      <tr>
        <th>Description</th>
        <th>Borrowed since</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |article|}}
        {{articles/article-row
          article=article
          save="save"
          articleStates=states
        }}
      {{/each}}
    </tbody>
  </table>
{{/if}}